/* FontAwesome Start */
@fa-theme-weight: 400;
@fa-theme-weight-name: 'regular';

@fa-edition: pro;
@import "../../../Styles/FontAwesome/_rock-fa-mixins.less";
.fa-font-face( 'solid', 'pro' );
.fa-font-face( 'light', 'pro' );
/* FontAwesome End */
@text-selection-color: #000000;
